/** FONT IMPORT */
@font-face {
  font-family: lemurRegular;
  src: url("../assets/Lemur_v1_web/Lemur-Regular.woff");
}

@font-face {
  font-family: lemurLight;
  src: url("../assets/Lemur_v1_web/Lemur-Light.woff");
}

@font-face {
  font-family: lemurMedium;
  src: url("../assets/Lemur_v1_web/Lemur-Medium.woff");
}

@font-face {
  font-family: lemurBold;
  src: url("../assets/Lemur_v1_web/Lemur-Bold.woff");
}
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: lemurRegular;
}

body {
  background-color: #2c0a27;
}

p {
  letter-spacing: 3px;
  font-size: 1rem;
}

/** HEADER */

.headersection {
  background-image: url("../images/heroImg.png");
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 0;
  background-color: #a5172511;
}
.navreturnImg {
  width: 35px;
  cursor: pointer;
}

.navreturnImg:hover {
  opacity: 0.8;
  cursor: pointer;
  scale: 1.1;
}

.logoHeader {
  width: 250px;
  height: 100%;
}

.heroInfo {
  color: black;
  background-color: #ffffff;
  padding: 20px;
  margin: 40px 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.heroTitle {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 5rem;
  flex-wrap: wrap;
  font-weight: bold;
  letter-spacing: 0.5rem;
  margin: auto;
}

.heroDetailsBox {
  margin: 50px;
  padding: 50px;
  background-color: #ffffffd8;
}

/** SECTION 2 */

.s2 {
  background-image: url("../images/galleri/img04.jpg");
  background-size: cover;
  padding: 50px;
}

.tekstboks {
  background-color: white;
  max-width: 600px;
  text-align: center;
  margin: 30px auto;
  padding: 40px;
}

.tekstboksmini {
  background-color: rgba(255, 255, 255, 0.89);
  height: 80%;
  max-width: 600px;
  text-align: center;
  margin: 150px auto;
}

.s3 {
  background-image: url("../images/galleri/img03.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.tekstboxyellow {
  background-color: #d8ca01;
  margin: auto;
  padding: 50px;
}

.slide1 {
  background-color: #2c0a27;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.slideImg {
  width: 50%;
  margin: auto;
  border: 30px white solid;
}
.slide2 {
  background-color: #d8ca01;
  background-size: cover;
}

.slide3 {
  background-color: #000000;
  background-size: cover;
}

/** Trailer  */

.s4 {
  background-color: #d8ca01;
}

.trailerVid {
  height: 80vh;
}

/** Medvirkende */

.medvirkendeImg {
  height: 40%;
  margin: 50px 0;
  border: 20px white solid;
  border-radius: 50%;
}

.medvirkendeBox {
  background-color: white;
  margin: auto;
  padding: 20px;
  max-width: 80%;
}

/** FOOTER  */

.f1 {
  background-color: #d8ca01;
}

.f1 h3 {
  text-align: center;
  font-size: 35px;
  padding: 20px;
  color: white;
}

.f1 section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.f1 h3 {
  color: rgb(0, 0, 0);
}

.kommende {
  background-color: #000000;
  color: white;
  margin: auto;
  padding: 20px;
  width: 100%;
}

.kommende img {
  border: 20px white solid;
  margin: 40px 0;
}

footer {
  display: flex;
  justify-content: space-between;
}

.barButton {
  cursor: pointer;
  border: none;
  background-color: black;
  color: #d8ca01;
  margin: auto;
  padding: 7px 15px;
  font-size: 25px;
  border-radius: 5px;
}

.barButton:hover {
  scale: 1.1;
  background-color: #2c0a27;
  color: white;
}

.footerLogo {
  width: 200px;
  margin: auto;
  text-align: center;
}
